/*
light -> dark
#ece0d1	(236,224,209)
#dbc1ac	(219,193,172)
#967259	(150,114,89)
#634832	(99,72,50)
#38220f	(56,34,15)
*/

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 200;
  font-style: normal;
}

.title {
  text-align: center;
  color: #311e10;
}
.title h1 {
  margin-bottom: -0.6em;
  font-size: 10em;
}
.title h2 {
  margin-top: 0;
  font-size: 3.5em;
  font-weight: normal;
}

#text-container {
    justify-self: center;
    width: 50%;
    justify-content: center;
    text-align: center;

}
#text-container p {
    justify-content: center;
}

#menu {
    justify-self: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5%;
    background-color: #311e10;
    color:whitesmoke;

}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 72, 255);
  text-decoration: none;
  width: 100%;
  height: 2em;
}
.banner a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-left: 0.5em;
}
#GitHubLogo {
  width: 1.5em;
}

#bottom {
  align-items: center;
  width: 80vw;
  justify-content: center;
  justify-self: center;
  display: flex;
  gap:100px;


}
#bottom img {
  height:100px;
  width: auto;
  border-radius: 15px;

}




body {
  height: 100vh;
  background-image: url("./media/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ece0d1;
  backdrop-filter:blur(5px);
  margin: 0;
  padding: 0;
  font-family: "roboto";
}
