body {
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
  position: relative;
  /* box shadow so the holes look good */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#b4d0e7 1.5px, transparent 1.5px);
  /* blue line spacing */
  background-size: 100% 32px;
  line-height: 32px;

  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

/* red line */
.notebook-paper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 70px;
  width: 2px;
  height: 100%;
  background-color: #ffb3b3;
  z-index: 1;
}

.content {
  padding-left: 90px; /* left margin */
  padding-right: 40px;
  position: relative;
  z-index: 2; /* content above lines */
  font-size: 32px;
  color: rgb(54, 61, 67);
}

p {
  margin: 0 0 32px 0; /* Keeps paragraphs aligned with the grid */
  word-wrap: break-word;
  font-size: 32px;
}
a {
padding: 0;
}

/* Add a "Three-Hole Punch" effect for realism */
.holes {
  position: absolute;
  left: 20px;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 0;
  box-sizing: border-box;
  pointer-events: none;
}

.hole {
  width: 25px;
  height: 25px;
  background-color: #d1d5db;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#assignments {
  margin: -5px 0 32px 0;
  line-height: 32px;
  align-items: center;
  flex-wrap: wrap;

}
#assignment {
  line-height: 32px;
  align-items: center;
}

.Description p {
  text-align: center;
}
.icon {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
a {
  color: rgb(54, 61, 67);
  text-decoration: none;
  padding-left: 0.5em;
}

.preview {
  position: relative;
  display: inline-block;
  width: 200px;
}

.preview img {
  width: 200px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.1);
  margin: 0;
}

/* tape (top) */
.tape {
  left:50%;
  margin: 0;
  position: absolute;
  height: 15px;
  width: 30px;
  background-color: #c2c2c2ae;
  top: 0;
  transform: translateX(-400%) rotate(-35deg);
}

.tape.bottom {
    transform: translateY(700%) translateX(300%) rotate(-35deg);


}

/* responsive layout */
@media (min-width: 756px) {
  #assignments {
    width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
  }
.assignment {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 25%;
}
.Description {
  text-align: left;
  justify-self: left;
}
.preview {
  display: flex;
  justify-content: center;
  position: relative;
  top:0;
  margin: 0;
}
.preview img {
  width: 100%;
}

}
