body {
    background:#1b1b1b;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:21%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#131122;
    border-radius:5px;
    box-shadow: 5px 8px #000000;
}

.assignment img {
    width:200px;
    border: 2px solid #8ebffc;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color: #ffffff;
    text-align:center;
}

a {
    text-decoration:none;
    color:#fff;
}

.assignment a:hover {
    color:#ff00ea;
}