body {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

#content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 300px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: wheat;
}

#content section.hidden {
    display: none;
}


#nav-list {
    list-style-type: none;
    padding: 0;
}

#nav-list li {
    float: left;
    cursor: pointer;

}

#nav-list>*:not(:last-child)::after {
    content: " |";
    margin-right: 5px;
}

#nav-toggle {
    display: none;
}





@media only screen and (max-width: 768px) {
    #nav-list {
        margin-top: 0;
        list-style-type: none;
    }

    #nav-list li {
        float: none;
    }

    #nav-list>*:not(:last-child)::after {
        content: "";
    }

    #nav-toggle {
        display: block;
        margin: 0;
        width: max-content;
        user-select: none;
        margin-right: 70px;
        margin-bottom: 0px;

        transform: rotate(90deg);

    }

    #nav-toggle.true {
        transform: rotate(0deg);

    }

    #nav-list.true {
        display: none;
    }

}