/* Main Structure */
body {
    color: rgb(0, 0, 0);
    background-color: #fefae0;
    font-family: Arial, Helvetica, sans-serif;
}

#main-header {
    width: 100vw;
    height: auto;
    margin:auto;
}


/* Nav bar */
#main-nav ul {
    padding-left: 0;
}
#main-nav li{
    flex:1;
    text-align: center;
    list-style-type: none;
    background-color: #a3b18a;
    padding:20px;
    border-right: 2px solid #c6d7a8;
}
#main-nav a{
    text-decoration: none;
    color: white;
}
/* Body Content */
#content {
    width: 100vw;
}
/* footer */
#main-footer {
    width: 100vw;
    height: 100px;
    background-color: #a3b18a;
}
#main-footer {
    width: 100vw;
    padding: 10px;
}


/* Div and section Styles */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self:center;
    width: 225px;
    height: 50px;

    background-color: #283618;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self:center;
}




.style0 {
    justify-content: center;
}
.style0 section{
    text-align: center;
    justify-content: center;
}





.style1 {
    height: auto;
    background-color: #283618;
}
.style2 {
    height: auto;
    background-color: #606c38; 
}



/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:10px;
}
#main-footer p {
    color:white;
    text-align: center;
}




/* Larger Devices */
@media (min-width: 768px) {
    /* flex classes */
    .columns {
        display: flex;
    }
    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }
    .four {
        flex:4;
    }
    
    /* nav */
    #main-nav ul{
        display:flex;
    }
    #main-nav a {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    #main-nav a:hover {
        border-bottom: 1px solid rgb(41, 108, 48);
    }

    #main-footer {
        display: flex;
        align-items: center;
    }

    /* section styles */

    .style0 {
        display: flex;
    }

    .style0 img {
        width:10vw;
    }
    
    .title {
        align-items: center;
        justify-content: center;
        text-align: center;
        width:12vw;
        font-size: 1vw;
    }
    .style1 {
        height:200px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 20%;
        margin-bottom: 25px;
        font-size: 1vw;
    }
    .style1 img {
        float: right;
        margin-right:50px;
    }
    .style2 {
        display: flex;
        align-items: center;
        height:200px;
        padding-left: 20%;
        margin-bottom: 25px;
        font-size: 1vw;

    }
    .style2 img{
        float: left;
        margin-left:50px;
    }
}
