body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#song-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    justify-content: center;
    align-self: center;
}


.song {
    width: 300px;
    height: 350px;
    border-radius: 30px;
    background-color: rgb(199, 124, 11);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

}
.song h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;

}
.song p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;


}

.song img {

    height:300px;
    width:300px;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    gap:50px
}

