/*
light -> dark
#ece0d1	(236,224,209)
#dbc1ac	(219,193,172)
#967259	(150,114,89)
#634832	(99,72,50)
#38220f	(56,34,15)
*/

.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 200;
  font-style: normal;
}

.title {
  text-align: center;
  color: #311e10;
}
.title h1 {
  margin-bottom: -0.6em;
  font-size: 10em;
}
.title h2 {
  margin-top: 0;
  font-size: 3.5em;
  font-weight: normal;
}

#text-container {
    justify-self: center;
    width: 50%;
    justify-content: center;
    text-align: center;

}
#text-container p {
    justify-content: center;
}

#menu {
    margin-top: 5%;
    justify-self: center;

}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 72, 255);
  text-decoration: none;
  width: 100%;
  height: 2em;
}
.banner a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-left: 0.5em;
}
#GitHubLogo {
  width: 1.5em;
}

body {
  background-color: #ece0d1;
  margin: 0;
  padding: 0;
}
