body {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

#content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 300px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: wheat;
}

.hidden {
    display: none;
}
#links {
    list-style: none;

}

@media only screen and (max-width: 768px) {


}