body {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}


.box {
    width:200px;
    height:200px;
    border:solid black 1px;
}

#content{
    display: flex;
    flex-direction: row;
    gap: 200px;
}

#content section{
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;

}

